USE [master]
GO
/****** Object:  Database [Biblioteca]    Script Date: 1/16/2026 6:08:43 PM ******/
CREATE DATABASE [Biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Biblioteca.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Biblioteca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Biblioteca_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteca]
GO
/****** Object:  StoredProcedure [dbo].[LibroConsultarPorAutor]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LibroConsultarPorAutor]
(
    @IdAutor INT
)
AS
BEGIN
    SELECT 
        Libro.Titulo,
        Libro.FechaPublicacion,
        Editorial.NombreEditorial
    FROM Libro
    JOIN LibroAutor ON Libro.IdLibro = LibroAutor.IdLibro
    JOIN Editorial ON Libro.IdEditorial = Editorial.IdEditorial
    WHERE LibroAutor.IdAutor = @IdAutor
END

GO
/****** Object:  StoredProcedure [dbo].[LibroConsultarPorAutorYFecha]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LibroConsultarPorAutorYFecha]
(
    @IdAutor INT,
    @FechaPublicacion INT
)
AS
BEGIN
    SELECT 
        Libro.Titulo,
        Editorial.NombreEditorial
    FROM Libro
    JOIN LibroAutor ON Libro.IdLibro = LibroAutor.IdLibro
    JOIN Editorial ON Libro.IdEditorial = Editorial.IdEditorial
    WHERE LibroAutor.IdAutor = @IdAutor
    AND Libro.FechaPublicacion = @FechaPublicacion
END
GO
/****** Object:  StoredProcedure [dbo].[LibroConsultarPorEditorial]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LibroConsultarPorEditorial]
(
    @IdEditorial INT
)
AS
BEGIN
    SELECT 
        Libro.Titulo,
        Autor.NombreAutor,
        Libro.FechaPublicacion
    FROM Libro
    JOIN LibroAutor ON Libro.IdLibro = LibroAutor.IdLibro
    JOIN Autor ON LibroAutor.IdAutor = Autor.IdAutor
    WHERE Libro.IdEditorial = @IdEditorial
END
GO
/****** Object:  StoredProcedure [dbo].[LibroConsultarPorFecha]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LibroConsultarPorFecha]
(
    @FechaPublicacion INT
)
AS
BEGIN
    SELECT 
        Libro.Titulo,
        Autor.NombreAutor,
        Editorial.NombreEditorial
    FROM Libro
    JOIN LibroAutor ON Libro.IdLibro = LibroAutor.IdLibro
    JOIN Autor ON LibroAutor.IdAutor = Autor.IdAutor
    JOIN Editorial ON Libro.IdEditorial = Editorial.IdEditorial
    WHERE Libro.FechaPublicacion = @FechaPublicacion
END

GO
/****** Object:  StoredProcedure [dbo].[LibroConsultarPorTitulo]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[LibroConsultarPorTitulo]
(
    @TituloLibro VARCHAR(200)
)
AS
BEGIN
    SELECT 
        Libro.Titulo,
        Libro.FechaPublicacion,
        Editorial.NombreEditorial
    FROM Libro
    JOIN Editorial ON Libro.IdEditorial = Editorial.IdEditorial
    WHERE Libro.Titulo LIKE '%' + @TituloLibro + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[LibroEliminarPorAutor]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LibroEliminarPorAutor]
(
    @IdAutor INT
)
AS
BEGIN
    DELETE Libro
    FROM Libro
    JOIN LibroAutor ON Libro.IdLibro = LibroAutor.IdLibro
    WHERE LibroAutor.IdAutor = @IdAutor
END

GO
/****** Object:  StoredProcedure [dbo].[LibroEliminarPorEditorial]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[LibroEliminarPorEditorial]
(
    @IdEditorial INT
)
AS
BEGIN
    DELETE FROM Libro
    WHERE IdEditorial = @IdEditorial
END

GO
/****** Object:  StoredProcedure [dbo].[LibroInsertar]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[LibroInsertar]
(
    @IdAutor INT,
    @TituloLibro VARCHAR(200),
    @FechaPublicacion INT,
    @IdEditorial INT
)
AS
BEGIN
    DECLARE @IdLibroNuevo INT

    INSERT INTO Libro (Titulo, FechaPublicacion, IdEditorial)
    VALUES (@TituloLibro, @FechaPublicacion, @IdEditorial)

    SET @IdLibroNuevo = SCOPE_IDENTITY()

    INSERT INTO LibroAutor (IdLibro, IdAutor)
    VALUES (@IdLibroNuevo, @IdAutor)
END

GO
/****** Object:  Table [dbo].[Autor]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[NombreAutor] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[NombreEditorial] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[FechaPublicacion] [int] NOT NULL,
	[IdEditorial] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LibroAutor]    Script Date: 1/16/2026 6:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibroAutor](
	[IdLibro] [int] NOT NULL,
	[IdAutor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC,
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IdAutor], [NombreAutor]) VALUES (1, N'George Orwell')
INSERT [dbo].[Autor] ([IdAutor], [NombreAutor]) VALUES (2, N'Rowling')
INSERT [dbo].[Autor] ([IdAutor], [NombreAutor]) VALUES (3, N'Gabriel García Márquez')
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([IdEditorial], [NombreEditorial]) VALUES (1, N'Planeta')
INSERT [dbo].[Editorial] ([IdEditorial], [NombreEditorial]) VALUES (2, N'Penguin')
INSERT [dbo].[Editorial] ([IdEditorial], [NombreEditorial]) VALUES (3, N'Bloomsbury')
SET IDENTITY_INSERT [dbo].[Editorial] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([IdLibro], [Titulo], [FechaPublicacion], [IdEditorial]) VALUES (1, N'1984', 1949, 2)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [FechaPublicacion], [IdEditorial]) VALUES (2, N'Harry Potter', 1997, 3)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [FechaPublicacion], [IdEditorial]) VALUES (3, N'Cien Años de Soledad', 1967, 4)
SET IDENTITY_INSERT [dbo].[Libro] OFF
INSERT [dbo].[LibroAutor] ([IdLibro], [IdAutor]) VALUES (1, 1)
INSERT [dbo].[LibroAutor] ([IdLibro], [IdAutor]) VALUES (2, 2)
INSERT [dbo].[LibroAutor] ([IdLibro], [IdAutor]) VALUES (3, 3)
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editorial] ([IdEditorial])
GO
ALTER TABLE [dbo].[LibroAutor]  WITH CHECK ADD FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[LibroAutor]  WITH CHECK ADD FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libro] ([IdLibro])
GO
USE [master]
GO
